#aboutPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(58, 6, 107); */
  background-color: #022446;

  color: white;
  padding: 2em;
}
#aboutTitle {
  font-size: 4em;
  color: white;
  border-bottom: 5px solid black;
  margin: 1em;
  font-weight: 400;
  /* padding: 5em; */
}

.aboutText {
  font-size: 2em;
  font-weight: 700;
  margin: 1em;
  font-weight: 400;
  border: 5px solid black;
  padding: 0.5em;
}
.navbarLogo {
  color: white;
}
