#creatorPartDiv {
  width: 100%;
  height: 100%;
  border: 2px solid green;
  margin-top: 5em;
  margin-bottom: 5em;
}

.creatorImgContainer {
  width: auto;
  height: 90vh;
  background-color: black;
  background-color: rgb(255, 47, 203);

  margin: 0;
}
.ExampleImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* color: white; */
  font-size: 10em;
  border: 2px solid blue;
}
#creatorText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
}
