#examplesDiv {
  width: 100vw;
  height: 100%;
  border: 2px solid red;
  background-color: #ff006a;
}

.ExampleImageContainer {
  width: 100%;
  height: 55vh;
  /* background-color: black; */
  margin: 0;
  margin-bottom: 1em;
}
.ExampleImageContainerMobile {
  width: 100%;
  height: 35vh;
  /* background-color: black; */
  margin: 0;
}
.ExampleImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* color: white; */
  font-size: 10em;
}
