#faqComponent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  background-color: #022446;
  color: white;
}
.faqTextContainer {
  margin-bottom: 3em;
  margin-top: 3em;
}
