#landingPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5cdb95;
}

#landingImageContainer {
  width: 100%;
  height: 50vh;
  background-color: black;
}
#landingImage {
  color: white;
  font-size: 10em;
}
#landingWelcomeGroup {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
#LandingFollows {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  /* margin-bottom: 10em; */
}
#followButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.followButton {
  margin: 1em;
}
