#landingPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#landingImageContainer {
  width: 100%;
  height: 40em;
  background-color: black;
  margin-top: 5em;
}
/* #landingContainer {
  padding: 0;
} */
#landingImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
}
#landingWelcomeGroup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 2em;
  /* border: 2px solid white; */
}
/* #landingWelcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
#LandingFollows {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#followButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.followButton {
  margin: 1em;
}

#twitterBtn {
  width: 20em;
  font-weight: 400;
  background-color: #022446;
  color: white;
  padding: 0.5em;
}
#discordBtn {
  width: 15em;
  font-weight: 400;
  background-color: #022446;
  color: white;
  padding: 0.5em;
}
.mint-container {
  /* border: 2px solid white; */
  /* background-color: #022446; */
  color: white;
  padding-top: 5em;
  font-weight: 700;
  width: 70%;
  height: 50%;
  /* margin-top: 3em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#connectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc107;
  font-weight: 400;
  font-size: 2em;
  width: 10em;
  font-family: gelatoFunFont;
}
#mintingButton {
  background-color: #ffc107;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: black;
  font-size: 2em;
  border: 5px solid white;
  margin-bottom: 2em;
  font-family: gelatoFunFont;
}
.mintingTexts {
  font-weight: 400;
  font-size: 1.5em;
}
