#navbarDiv {
  height: 10em;
  background-color: #ff006a !important;
  margin-bottom: 5em;
  width: 100vw;
}
#navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#canvas {
  background-color: #ff006a !important;
}
.navLink {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
}
#navbarToggle {
  padding: 2em;
  border: none;
}
#navbarTitle {
  font-weight: 500;
  border: 2px solid black;
  padding: 5px;
  color: white;
  background-color: black;
  margin-left: 2em;
}
