#navbarDiv {
  height: 10em;
  background-color: #ff006a !important;
  margin-bottom: 5em;
  width: 100vw;
  /* padding: 0 !important; */
}
#navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid black;
}
#canvas {
  background-color: #ff006a !important;
}
.navLink {
  color: white;
  /* text-decoration: none; */
}
