@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  /* margin: 0; */
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: black;
  /* color: #ffffff; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
#HomePage {
  width: 100vw;
  background-color: black;
}
